$primary-color: #333333;//yes
$white-color: #ffffff;//yes
$accent-color: #cb0e17;//yes
$red-color: #cb0e16;//yes
$grey-color: #e8e9e3;//yes
$languages-color:#cccccc;//yes
$black-color: #000000;//yes
$linear-color: #999999;
// $duration: 250ms;
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);