.analysis {
  padding-left: 210px;
  padding-right: 210px;
}

.analysis-title {
  margin-top: 0;
  margin-bottom: 39px;
  color: $accent-color;
  font-size: 50px;
  line-height: 46px;
  text-align: left;
}

.analysis-title-first {
  font-size: 35px;
}

.analysis-border {
  width: 410px;
  height: 1px;
  border: 1px solid $linear-color;
}

.analysis-text {
  margin-top: 28px;
  margin-bottom: 39px;
  color: $primary-color;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.analysis-list {
  display: flex;
   padding-top: 53px;
  justify-content: center;
  align-items: flex-start;
}

.analysis-item {
  width: calc((100% - 3 * 60px) / 3);
  margin: 30px;
  text-align: center;
}

.analysis-svg {
  margin-top: 0;
  margin-bottom: 63px;

}

.analysis-svg-first {
  margin-top: 0;
  margin-bottom: 25px;
}

.analysis-svg-two {
  margin-top: 0;
  margin-bottom: 56px;  
}

.analysis-txt {
  margin-top: 0;
  margin-bottom: 60px;
  color: $primary-color;
  font-size: 18px;
  // text-align: center;
}
